<section class="content pt-4  w-75 mx-auto mt-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="fw-bold">Entidades</h2>
      <a [routerLink]="'create'" class="btn btn-primary">Nova entidade</a>
    </div>

    <div class="card p-3 mt-5">
      <!-- Campo de busca -->
      <!-- <div class="mb-3">
        <input type="text" class="form-control" placeholder="Buscar entidade..." [(ngModel)]="searchTerm">
      </div> -->

      <!-- Tabela -->
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" v
               class="table table-bordered table-hover text-center align-middle">
          <thead class="table-light">
            <tr>
              <th>Nome</th>
              <th>Região</th>
              <th>Especialidades</th>
              <th>Ativa</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clinic of clinics">
              <td>{{ clinic.corporate_name }}</td>
              <td *ngIf="clinic.regional != null">{{ clinic.regional.name }}</td>
              <td *ngIf="clinic.regional == null">-</td>
              <td>
                <ng-container *ngIf="clinic.specialties?.length > 0; else noSpecialties">
                  <span *ngFor="let specialty of clinic.specialties; let i = index">
                    {{ specialty.name }}<span *ngIf="i < clinic.specialties.length - 1">, </span>
                  </span>
                </ng-container>
                <ng-template #noSpecialties>-</ng-template>
              </td>
              <td *ngIf = "clinic.is_active == 0">Inativo</td>
              <td *ngIf = "clinic.is_active == 1">Ativo</td>
              <td>
                <button
                  class="btn btn-sm btn-outline-secondary"
                  title="Editar"
                  (click)="routeEdit(clinic.id)"
                >
                  <i class="fas fa-edit"></i>
                </button>

                <!-- <button class="btn btn-sm btn-outline-secondary" title="Editar">
                  <i class="fas fa-edit"></i>
                </button> -->

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
