<div class="d-flex justify-content-center align-items-center vh-100 px-3">
  <div class="card p-4 shadow card-content">
    <h3 class="mb-3">Login</h3>

    <div *ngIf="msg" class="message" [ngClass]="'message--' + type">
      {{ msg }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{'is-invalid': email?.invalid && email?.touched}"
          placeholder="E-mail"
        />
        <div *ngIf="email?.touched && email?.invalid" class="invalid-feedback">
          <span *ngIf="email?.errors?.['required']">Por favor, digite seu usuário (e-mail de cadastro)!</span>
        </div>
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <div class="input-group">
          <input
            id="senha"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-control"
            [ngClass]="{'is-invalid': password?.invalid && password?.touched}"
            placeholder="Senha"
          />
          <span class="input-group-text password-toggle" (click)="passwordVisibility()">
            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="password?.touched && password?.invalid" class="invalid-feedback">
          <span *ngIf="password?.errors?.['required']">Digite uma senha</span>
        </div>
      </div>


      <button type="submit" class="btn btn-primary w-100">ENTRAR</button>
    </form>
  </div>
</div>
